# Create a project at https://supabase.com
# Then paste your URL and Anon Key here
# Save this file as .env.local

VITE_SUPABASE_URL=https://drjsitzgxabnfuueaqbo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_8BNOKJAQT1Ot2UPDKEG5Qg_bsUaJk0D